*{
    margin: 0;
    padding: 0;
   
}

/* BODY */

body{
    background-color:rgb(157, 189, 189) ;
}

/* HEADER-NAVBAR-STYLE */

.navbar-content{
   background-color: bisque;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    align-items: center;
}

.name{
    font-size: 29px;
    color: brown;
}

.navbar ul{
    display: flex;
    gap :20px;
    list-style: none;
    
}

.navbar ul a{
    font-size: 20px;
    color: black;
    text-decoration: none;
}

.btn{
    width: 100px;
    height: 44px;
    font-weight: bold;
    font-size: 18px;
    background-color: #dd450e;
    color: white;
    border-radius: 12px;
    border-style: none;
    cursor: pointer;
}

/* HEADER-BANNAR-STYLE */

.bannar{
    height: 600px;
    background-image: url(../image/hero-bg.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;   
}

.bannar-content{
    justify-items: center;
    text-align: center;
    padding-top: 300px;
}

.bannar-content h1{
    color: white;
    font-size: 39px;
    font-weight: bolder;
    margin-bottom: 20px;
}

.bannar-content p{
    font-size: 20px;
    font-weight: bold;
    color: honeydew;
    margin-bottom: 30px;
}

/*MAIN-SECTION-STYLE */

.section-contianer{
    background-color:rgb(191, 202, 202);  
    display: grid;
    grid-template-columns: repeat(3,1fr);
    border-radius: 12px;
    padding: 120px;
    gap: 20px;
}

.section-content{
    padding: 20px;
    border-radius: 8px;
    background-color :antiquewhite;
}



.section-content ol{
    padding: 20px;
      
}

/* /* MAIN-SECTION-PROJECT-STYLE */

.project-title{
    text-align: center;
    margin-top: 30px;
    font-size: 39px;
    font-weight: bolder;
}

.project>*{
    background-color: rgb(107, 97, 121);;
    color: white;
    border-radius: 30px;
    padding: 40px;
    
}

header{
    grid-area: header;
}

header h2{
    font-size: 29px;
    margin-bottom: 20px;
}

header p{
    margin-bottom: 20px;
}

nav{
    grid-area: navbar;
}
nav h2{
    font-size: 29px;
    margin-bottom: 20px;
}
nav p{
    margin-bottom: 20px;
}

main{
    grid-area: main;
    align-items: center;
}
main h2{
    font-size: 29px;
    margin-bottom: 20px;
}
main p{
    margin-bottom: 20px;
}
.project-center{
    margin-top: 80px;
}
footer{
    grid-area: footer;
    
}


.project{  
    margin: 120px;
    display: grid;
    gap: 30px;
    grid-template-areas: 

            "header header header"
            "navbar navbar main"
            "footer footer main";
    
}


/* FOOTER */
.footer{
    background-color:rgb(144, 98, 209); 
}

.footer-title{
    text-align: center;
    padding-top: 30px;
}

.footer-content{
    margin-top: 120px;
}
.footer-contianer{
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.copy{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 40px;
}

@media screen and (max-width:576px) {
   
  .navbar-content{
    display: flex;
    justify-content: space-between;
    
 }
.navbar ul{
    display: none;
}

.section-contianer{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    padding: 0px;
}

.project{
    display: grid;
    grid-template-areas: 
                "header"
                "navbar"
                "main"
                "footer";

    margin: 0px;
    padding: 0px;
}

}
    